<?xml version="1.0"?>

<launch>
    <node pkg="hector_object_tracker" type="object_tracker" name="object_tracker" output="screen">
      <param name="project_objects" type="bool" value="false" />
      <param name="angle_variance" type="double" value="0.121846968"/>
      <param name="publish_interval" type="double" value="1.0" />
      <param name="frame_id" value="world" />

      <rosparam>
        dial_gauge:
          pending_support: 1.0
          active_support: 1.0
          min_height: -10
          max_height: 10
          marker_color: [0.8, 0.0, 0.0]
          with_orientation: true
          #get_normal_service: hector_octomap_server/get_normal
          position_fixed: true
        level_gauge:
          pending_support: 1.0
          active_support: 1.0
          min_height: -10
          max_height: 10.0
          with_orientation: true
          marker_color: [0.0, 0.0, 0.8]
          position_fixed: true
        valve:
          pending_support: 1.0
          active_support: 1.0
          min_height: -10
          max_height: 10
          with_orientation: true
          marker_color: [0.0, 0.8, 0.0]
          position_fixed: true
        hotspot:
          pending_support: 1.0
          active_support: 1.0
          min_height: -10
          max_height: 10
          with_orientation: true
          marker_color: [0.8, 0.8, 0.0]
          position_fixed: true
        verification_services:
          allow_none: true
      </rosparam>

      <remap from="get_distance_to_obstacle" to="/hector_map_server/get_distance_to_obstacle" />
      <remap from="visualization_marker" to="worldmodel/visualization_marker" />
      <remap from="visualization_marker_array" to="worldmodel/visualization_marker_array" />
    </node>
</launch>
